@import './base.css';
.loading {
  background: green;
}
.error,
.not-found {
  text-align: center;
  padding: 20px;
  background: darkred;
}
.auth-form {
  display: flex;
  gap: 30px;
  flex-direction: column;
}
